body {
  background: #673bb8;
  padding:0;
  margin:0;
}

.control {
  margin: 200px 0 0;
  text-align: center;
}

.control input {
  padding: 15px;
  background: rgba(255,255,255,.8);
  border: solid 2px rgba(255,255,255,.8);
  width: 40px;
  height: 50px;
  display: inline-block;
  font-size: 30px;
  transition: background .5s, box-shadow .5s, border-color .5s;
  text-align: center;
  cursor: pointer;
}

.control input:focus {
  background-color: rgba(255,255,255,1);
  border-color: #00b38a;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.23);
  outline: none;
  transition: background 0s, box-shadow 0s, border-color .1s;
}